:root {
  --primary-color: #2596be;
  --black-charcoal: #36454F;
  /* Red */
}

/* .equipment-container {
    display: flex;

  }



  .cards {
 */
/* display: flex; */
/* width: 100%; */

/* } */

/* .card { */
/* Add shadows to create the "card" effect  */
/* 
    max-height: 650px; */
/* text-align: -webkit-center; */
/* } */

/*

 */

/* .card .img {
   max-width: 100px;
   height: 300px;
   display: inline-block;
 } */








/* equipment section here======================= */
#equipment {
  padding: 50px 0 0 0;
}

.equipment h2 {
  padding: 0 0 30px 0;
  text-align: center;
  color: var(--primary-color);
}

.equipment-container {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align-last: center;
  padding: 4px 16px;
}

.card img {
  width: 100%;
}

.cards {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
}

.card {
  width: 14%;
  height: 700px;
  display: block;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background: #fff;
  border-radius: 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin: 15px 20px;
  /* width: 100%; */
}

.card:hover {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.card .container {
  padding: 20px;
}

.card .container h4 {
  font-size: 20px;
  padding-bottom: 10px;
}

.card .container p {
  line-height: 1.4;
  padding-bottom: 20px;
}

#cards-container {
  overflow: hidden;
  margin: 20px;
}

/* .cropped1 {
  width: 1000px;
  height: 100%;
  object-fit: cover;
} */

#slide-left-container,
#slide-right-container {
  display: none;
}

#slide-left-container.active,
#slide-right-container.active {
  display: block;
  cursor: pointer;
}

.slide-left,
.slide-right {
  border-color:var(--primary-color);
  border-style: solid;
  height: 20px;
  width: 20px;
  margin-top: 30%;
}

.slide-left {
  border-width: 4px 0 0 4px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-left: 40%;
}

.slide-right {
  border-width: 4px 4px 0 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-left: 22%;
}


/*equipment image view==================================*/

.equipment-image-container {
  background-color: #f5f5f5;
  padding: 20px 0;

}

.equipment-image-container .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.equipment-card {
  overflow: hidden;
  transition: .5s;
  box-shadow: 0 20px 30px rgba(0, 0, 0, .1);
  border-radius: 10px;
  background-color: #fff;
  color: var(--black-charcoal);
  margin: 20px;
  padding: 20px;
}

.equipment-card>img {
  width: 150px;
  object-fit: cover;
  transition: .5s;
  /*  box-shadow: 0 20px 30px rgba(0, 0, 0, .1);*/
  object-fit: cover;
}

.equipment-card>span {
  font-size: 1.9vh;
  width: 190px;
  display: block;
  text-align: center;
  padding-top: 10px;
}


/* responsive start here======================== */

@media screen and (max-width: 20000px) {
  .cards .card {
    display: block;
    /* height: 550px; */
    width: 250px;
  }

}

@media screen and (max-width: 1260px) {
  .cards .card {
    display: block;
    /* height: 550px; */
    width: 250px;
  }

  /* equipment images container===================== */
  .equipment-card>img {
    width: 200px !important;
  }
}

@media screen and (max-width: 1024px) {
  .cards .card {
    display: block;
    /* height: 550px; */
    width: 250px;
  }


}

@media screen and (max-width: 995px) {
  .cards .card {
    display: block;
    /* height: 550px;/ */
    width: 250px;
  }

  /* .card img {
      width: 50%; 
    } */

  /* equipment images container===================== */
  .equipment-card>img {
    width: 180px !important;
  }
}

@media screen and (max-width: 885px) {
  .cards .card {
    display: block;
    width: 250px;
  }

  /* equipment images container===================== */
  .equipment-card>img {
    width: 150px !important;
  }
}

@media screen and (max-width: 768px) {
  .cards .card {
    display: block;
    width: 250px;
  }

  /* equipment images container===================== */
  .equipment-card>img {
    width: 200px !important;
  }
}

@media screen and (max-width: 667px) {
  .cards .card {
    display: block;
    width: 250px;
  }

  /* equipment images container===================== */
  .equipment-card>img {
    width: 150px !important;
  }
}

@media screen and (max-width: 540px) {

  /* equipment images container===================== */
  .equipment-card>img {
    width: 100px !important;
  }
}

@media screen and (max-width: 480px) {

  /* .card img {
      width: 80%; 
    } */
  .cards .card {
    display: block;
    width: 250px;
  }

  /* equipment images container===================== */
  .equipment-card>img {
    width: 200px !important;
  }
}

@media screen and (max-width: 320px) {
  .cards .card {
    display: block;

    width: 250px;
  }

  /* equipment images container===================== */

  .equipment-card>img {
    width: 100px !important;
  }
}