/* product showing ====================================*/
.product{
    text-align: center;
    text-align: -webkit-center;
}
.allProductSection{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
}


/* click to show======================== */
button{
    border:none;
    width: 100%;
    border-radius: 15px;


}
.product-content{
    width:100%;
}
#productContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    cursor: pointer;
}
#productContainer .img-fig{
    flex: 2;
    margin: 5px 0 5px 0px;
}
#productContainer img{
    width: 150px;
 object-fit: cover;
   
    border: 1px solid #D3D3D3 ;
}
.productContentText{
     flex: 5;
     padding: 10px;
     margin: 10px
 }
 .arrow{
    flex:1;
 }

#productContainer .arrow::before{
    content: "\f105";
    font-family: "fontAwesome";
    text-indent: 0;
    font-size: 40px;
/*    padding-left: 200px;   */
}

/**/
@media screen and (max-width: 580px) {
.productContentText p{
    display: none;
}
}
