/* product showing ====================================*/
:root {
  --primary-color: #2596be;
  --black-charcoal: #36454F;
  /* Red */
}

/* #product{
  padding: 100px 0 0 0;
} */
.product {
  text-align: center;
  text-align: -webkit-center;
  padding: 100px 0;
}

.product h2 {
  color: var(--primary-color);
  padding: 0 0 30px 0;
}

.allProductSection {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
}


/* click to show======================== */

.product-content {
 position: relative;
 width: 45%; 
  align-items: center;
  /* height: 125px; */
  margin: 10px 10px;
}

/* .productContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  cursor: pointer;
  border: none;
  width: 100%;
  border-radius: 15px;
  background-color: #e7e7e7;
  height: 80px;
} */

/* .productContainer .img-fig { */
  /* flex: 2;
  border: 10px solid #e7e7e7;
  background-color: #e7e7e7; */
  /* margin: 15px 5px;
  border-radius: 20px;
} */

.hide{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: var(--primary-color);
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
  opacity: 0;
  }

  .product-content:hover .hide {
  opacity: 1;
}
.product-content img {
  width: 100%;
  border-radius: 20px;
  object-fit: cover;

  border: 0.5px solid #D3D3D3;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
    border-radius: 20px;
  transition: background 0.5s ease;
}

.product-content:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, .2);
}

.productContentText {
  color: var(--black-charcoal);
  flex: 5;
  padding: 10px;
  margin: 10px
}

.productContentText p {
  font-size: 10px;
}

.arrow {
  flex: 1;
}

.productContainer .arrow::before {
  /* content: "\f105";
  font-family: "fontAwesome";
  text-indent: 0;
  font-size: 40px; */
  
  /*    padding-left: 200px;   */
}

/**/




/* Popup code start here*/



.Click-here {
  cursor: pointer;
}

.custom-model-main {
  text-align: center;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* z-index: 1050; */
  -webkit-overflow-scrolling: touch;
  outline: 0;
  opacity: 0;
  -webkit-transition: opacity 0.15s linear, z-index 0.15;
  -o-transition: opacity 0.15s linear, z-index 0.15;
  transition: opacity 0.15s linear, z-index 0.15;
  z-index: -1;
  overflow-x: hidden;
  overflow-y: auto;
}

.model-open {
  z-index: 99999;
  opacity: 1;
  overflow: hidden;
}

.custom-model-inner {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  display: inline-block;
  vertical-align: middle;
  /* width: 600px; */
  margin: 30px auto;
  max-width: 97%;
  width: 80%;
}

.custom-model-wrap {
  display: flex;
  width: 100%;
  position: relative;
  background-color: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: 0;
  text-align: left;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-height: calc(100vh - 70px);
  overflow-y: auto;
}

.model-open .custom-model-inner {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  position: relative;
  z-index: 999;
}

.model-open .bg-overlay {
  background: rgba(0, 0, 0, 0.6);
  z-index: 99;
}

.bg-overlay {
  background: rgba(0, 0, 0, 0);
  height: 100vh;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  /* -webkit-transition: background 0.15s linear;
    -o-transition: background 0.15s linear;
    transition: background 0.15s linear; */
}

.close-btn {
  position: absolute;
  right: 0;
  top: -30px;
  cursor: pointer;
  z-index: 99;
  font-size: 30px;
  color: #fff;
}


.popup-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 90%;
  height: 100%;
  overflow: scroll;

}

.popup-content p {
  font-size: 14px;
  padding: 10px;
  line-height: 20px;
}

.popup-content a.close:hover {
  color: #333;
}

.popup-content span:hover,
.popup-content span:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.prod-content {
  padding: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  margin: 10px;

}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* #grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
  grid-gap: 5px;
}
#grid > div {
  font-size: 30px;
  padding: .5em;
  color: #ffffff;
  background: #1c87c9;
  text-align: center;
} */


@media screen and (min-width: 65em) {
  .popup-content {
    display: flex;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    height: 65%;

  }

  .test {
    display: flex;
  }

  .prod-content {
    background-color: #f1f1f1;
    flex: 2;
    margin: 10px;
    font-size: 16px;
    overflow: scroll;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    text-align: justify;
  }

  .prod-content ul {
    font-size: 14px;
  }

  #prod-image {

    margin: 10px;
    font-size: 30px;
    flex: 3;
  }
}

.item-product:hover {
  webkit-filter: blur(2px);
  /* Chrome, Safari, Opera */
  filter: blur(2px);
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../assets/img/product_background.png'); */
}


@media screen and (min-width:800px) {
  .custom-model-main:before {
    content: "";
    display: inline-block;
    height: auto;
    vertical-align: middle;
    margin-right: -0px;
    height: 100%;
  }
}

@media screen and (max-width:799px) {
  .custom-model-inner {
    margin-top: 45px;
  }
}