/* font-family: 'Lora', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Playfair Display SC', serif; */

:root {
  --primary-color: #008DD2;
  --black-charcoal: #36454F;
  /* Red */
}

/* univesal here============================================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Playfair', serif;
}

/* wrappper here============================================== */
.wrapper {
  width: 90%;
  max-width: 1365px;
  margin: 0 auto;
}

/* all similar tags here======================== */
h2 {
  font-size: 35px;
}

#home,
#aboutUs,
#product,
#equipment,
#contact {
  position: relative !important;
}

#aboutUs,
#equipment,
#contact {
  padding: 110px 0 0 0 !important;
}

#product {
  padding: 10px 0 0 0 !important;
}

/* header start here=========================================== */
header {
  background-color: #fff;
  position: sticky !important;
  top: 0;
  z-index: 1;
}

/* .addAndMail {
  display: flex;
  align-items: center;
  width: 60%;
} */

.headerTop {
  padding: 5px 0;
}

.headerTop .wrapper {
  display: flex;
  justify-content: space-between;
}

.headerTop p,
.headerTop .address::before,
.headerTop .mailUs::before {
  color: #555;
}

.address p,
.mailUs p {
  font-size: 13px;
}

.address p {
  margin: 5px;
}

.headerTop .address {
  border-right: 1px solid var(--black-charcoal);
  display: flex;
  align-items: center;
}

.headerTop .address::before {
  content: "\f041";
  font-family: "fontAwesome";
  font-size: 30px;
  padding-right: 10px;
  text-indent: 0;
}

.headerTop .mailUs{
  display: flex;
  align-items: center;
}

.headerTop .mailUs a {
  display: block;
  text-decoration: none;
  padding: 3px 10px;
  color: var(--primary-color);
}

.headerTop .mailUs a::before {
  content: "\f0e0";
  font-family: "fontAwesome";
  font-size: 15px;
  padding-right: 10px;
  text-indent: 0;
}

.headerTop a:hover {
  color: #2ab3e6;
}

.headerBottom {
  background-color: #f0f0f0;
  padding: 15px 0;
}

.navbar-brand img {
  width: 150px;
}

.nav-brand img {
  width: 100px;
}



.nav-brand {
  display: none;
}

.navbar-collapse {
  width: 50%;
}

.headerTop .wrapper,
.headerBottom .wrapper {
  align-items: center;
}

.navbar .headerTop .wrapper,
.navbar .headerTop ul,
.navbar .headerBottom .wrapper,
.socialMedia ul,
.navbar-icon {
  display: flex;
  justify-content: space-between;
}

.socialMedia li,
.nav-item {
  list-style: none;
}

.nav-item a {
  color: var(--primary-color);
  text-decoration: none;
}

.nav-item a:hover,
.nav-item a.active {
  border-bottom: 2px solid var(--primary-color);
  padding: 5px 0;
  color:var(--primary-color) !important;
}

.socialMedia li {
  padding: 0 10px;
}

.socialMedia a:hover {
  color: var(--primary-color) !important;
}

.socialMedia a {
  text-indent: -9999px;
  text-decoration: none;
  display: flex;
  color: var(--primary-color);
}

.socialMedia #whatsapp::before {
  content: "\f232";
}

.socialMedia #instagram::before {
  content: "\f16d";
}

.socialMedia #facebook::before {
  content: "\f09a";
}

.socialMedia #twitter::before {
  content: "\f099";
}

.socialMedia #linkdin::before {
  content: "\f0e1";
}

.socialMedia a::before {
  font-family: "fontAwesome";
  text-indent: 0;
}



.mobile-navbar-btn {
  display: none;
  background-color: transparent;
  cursor: pointer;
}

.mobile-nav-icon {
  font-size: 30px;
}

.mobile-nav-icon[name="close-outline"] {
  display: none;
}


/* header end here============================================= */

/* banner section start here=========================================== */
.banner {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../assets/images/product_background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  animation: animate 25s ease-in infinite;
}

@keyframes animate {

  0%,
  100% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)), url("../assets/images/aluminum-tanks-storage-raw-materials-chemical-industry-sterile-conditions-enterprise.jpg");

  }

  25% {
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../assets/images/people-white-isolating-costumes-working-laboratory.jpg"); */
  }

  50% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)), url("../assets/images/pharmaceutical-factory-man-worker-protective-clothing-operate-production-line-sterile-working-conditions.jpg");
  }

  75% {
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../assets/images/pharmacy-industry-woman-worker-protective-clothing-operating-production-tablets-sterile-working-conditions.jpg"); */
  }
}

.banner-content {
  /* position: absolute; */
  top: 30%;
  width: 80%;
  line-height: 1.2;
  margin: auto;
  /* text-align: center; */
  vertical-align: middle;

}

.banner-text {
  position: absolute;
  top: 30%;
  width: 50%;
  animation: slideDown 2s ease-in-out forwards;

}

.banner-text p {
  margin-top: 20px;
}

.banner-btn {
  position: absolute;
  bottom: 35%;
  animation: slideUp 3s ease-in-out forwards;
  display: inline-block;
}

.banner-content {
  color: #fff;
}

.banner-btn a {
  padding: 10px 15px;
  border: 1px solid transparent;
  color: var(--primary-color);
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  margin: 20px 0;
  /* color: #2596be; */
  display: block;
  background-color: #fff;
  width: 120%;
  border-radius: 0 0 20px 0;

}

.banner-btn a::after {
  content: "\f178";
  font-family: "fontAwesome";
  text-indent: 0;
  float: right;
  padding: 0 10px 0 0;
}

.banner-btn a:hover {
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 0 20px 0 0;
  width: 130%;
  transition: all .8s ease-out;
}

@keyframes slideDown {
  0% {
    top: 0;
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    top: 30%;
    opacity: 1;
    transform: translateY(-30%);
  }
}

@keyframes slideUp {
  0% {
    top: 100%;
    opacity: 0;
    transform: translateY(100%);
  }

  100% {
    top: 0%;
    opacity: 1;
    transform: translateY(75%);
  }
}




/* banner section end here=========================================== */

/* about section start here=========================================== */
#aboutUs {
  padding: 100px 0 0 0;
}

#aboutUs .wrapper {
  padding: 0 100px;
  animation: aboutSlideUp 3s ease-in-out forwards;
}

@keyframes aboutSlideUp {
  0% {
    top: 0%;
    opacity: 0;
    transform: translateY(50%);
  }

  100% {
    top: 0%;
    opacity: 1;
    transform: translateY(0%);
  }
}

#contact .wrapper h2,
#aboutUs .wrapper h2 {
  text-align: center;
  padding: 0 0 30px 0;
  color: var(--primary-color);
}

#aboutUs .wrapper p {
  /* color: var(--primary-color); */
  color: var(--black-charcoal);
  font-size: 18px;
  line-height: 1.6;
}

.aboutUs {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 50px 0;
}

.aboutUsText {
  width: 50%;
}

.aboutUsImg img {
  height: 250px;
}

.aboutUsText span {
  color: #555;
  padding-bottom: 10px;
  display: block;
}

.aboutUsList li {
  list-style-type: none;
  padding-top: 30px;
}

.aboutUsList span {
  font-size: 22px;
}

.aboutUsList span::before {
  font-family: "fontAwesome";
  padding-right: 10px;
  color: var(--primary-color);
  text-indent: 0;
}

.aboutUsList #vision::before {
  content: '\f2da';
}

.aboutUsList #mission::before {
  content: '\f2da';
}

/* about section end here=========================================== */

/* contact start here================================================ */
#contact {
  background-color: #eee;
  /* background-color: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/images/product_background.png); */
  padding: 50px;
}

.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerTop {
  text-align: center;
}

.footerTop .navbar-icon a {
  display: block;
  border-bottom: 2px solid transparent;
  padding: 10px;
}

.footerTop .navbar-icon a:hover {
  border-bottom: 2px solid var(--primary-color);
}

.footerTop .navbar-icon {
  display: block;
}

.footerBottom {
  line-height: 2;
  display: block;
  width: 40%;
  color: var(--black-charcoal);
}

.footerBottom span {
  font-weight: bold;
}

.footerBottom span::before {
  font-family: "fontAwesome";
  text-indent: 0;
  padding-right: 10px;
}

.officialNumber span::before {
  content: "\f095";
}

.officialMail span::before {
  content: "\f003";
}

.officialAddress span::before {
  content: "\f041";
}

.footerBottom a {
  display: flex;
  display: table-caption;
  color: var(--black-charcoal);
  text-decoration: none;
}

.footerBottom a:hover {
  color: var(--primary-color);
}

/* contact map start here========== */
.mapouter {
  position: relative;
  text-align: right;
  width: 40%;
  /*i changed the with 100% to 40% */
  height: 200px;
  display: table;
  /*added*/
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  width: 100%;
  height: 300px;
  /*i changed the with 200% to 300% */
}

.gmap_iframe {
  height: 300px !important;
  /*i changed the with 200% to 300% */
}

/* contact map end here========== */

/* contact end here================================================ */


/* responsive start here======================================= */
@media screen and (max-width: 1115px) {

  #aboutUs,
  #equipment {
    padding: 120px 0 0 0 !important;
  }

  #product {
    padding: 20px 0 0 0 !important;
  }

  /* .addAndMail, */
  .navbar-collapse,
  .banner-text {
    width: 70%;
  }

  #aboutUs .wrapper {
    padding: 0 50px;
  }

  /* contact */
  #contact {
    padding: 80px 0;
  }
}

/* @media screen and (max-width: 1024px) {

}
@media screen and (max-width: 995px) {


} */

@media screen and (max-width: 885px) {
  /* .headerTop .wrapper {
    flex-direction: column;
  } */

  #aboutUs .wrapper {
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .navbar-brand img {
    display: none !important;
  }

  .nav-brand {
    display: block !important;
  }

  .headerTop .mailUs a {
    display: inline-block;
  }

  .addAndMail{
    justify-content: center;
    display: flex;
  }

  .addAndMail,
  .socialMedia{
    width: 100%;
  }

  .socialMedia ul {
    justify-content: right;
  }


  /* .navbar .headerBottom .wrapper {
    justify-content: right;
  } */

  .socialMedia {
    padding: 0 10px;
  }


  header {
    position: relative;
  }

  .navbar-collapse {
    width: 100%;
    height: 60vh;
    position: absolute;
    background-color: #fff;
    top: 100%;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .navbar-icon {
    flex-direction: column;
  }

  .active .navbar-collapse {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .nav-item {
    padding: 15px 0;
  }

  .mobile-navbar-btn {
    display: block;
  }

  .active .mobile-navbar-btn .mobile-nav-icon[name="close-outline"] {
    display: block;
  }

  .active .mobile-navbar-btn .mobile-nav-icon[name="menu-outline"] {
    display: none;
  }

  .banner-text {
    width: 80%;
  }



  /* contact========================= */
  .contact,
  .footerBottom a {
    display: block;
  }

  .footerTop .navbar-icon a {
    border-right-style: double;
    border-left-style: double;


  }

  .footerTop .nav-item {
    display: inline-block;
  }

  .footerBottom {
    padding: 20px 0;
    width: 100%;
    text-align: center;
  }

  .mapouter {
    width: 100%;
  }

}


@media screen and (max-width: 667px) {
  .banner-content {
    width: 100%;
  }

  .banner-text {
    width: 90%;
  }

  .aboutUs,
  .aboutUsText,
  .aboutUs figure {
    text-align: center;
    text-align: -webkit-center;
    display: block;

  }

  .aboutUsText {
    width: 70%;
  }

}

@media screen and (max-width: 580px) {
  /* #home,
  #aboutUs,
#equipment,
#contact{
  padding: 170px 0 0 0 !important;
}
#product{
  padding: 70px 0 0 0 !important;
} */



  .headerTop .address {
    border: none;
    border-bottom: 1px solid var(--black-charcoal);
    /* padding-bottom: 10px; */
  }

  .mailUs {
    /* padding-top: 10px; */
    text-align: center;
  }

  /* .addAndMail {
    width: 100%;
    flex-direction: column;
  } */

  @keyframes slideDown {
    0% {
      top: 0;
      opacity: 0;
      transform: translateY(-100%);
    }

    100% {
      top: 30%;
      opacity: 1;
      transform: translateY(-30%);
    }
  }

  @keyframes slideUp {
    0% {
      top: 100%;
      opacity: 0;
      transform: translateY(100%);
    }

    100% {
      bottom: 50%;
      opacity: 1;
      transform: translateY(85%);
    }
  }

  h2 {
    font-size: 30px;
  }
}

@media screen and (max-width: 480px) {

  .headerTop .mailUs a {
    padding: 0 5px;
  }

  .headerTop .address::before {
    font-size: 20px !important;

  }

  .headerTop .mailUs a::before,
  .headerTop .address::before {
    font-size: 10px;
    padding-left: 2px;
    padding-right: 2px;
  }

  /* .address p,.mailUs p {
    font-size: 11px;
  } */
  #aboutUs,
  #equipment,
  #contact {
    padding: 140px 0 0 0 !important;
  }

  #product {
    padding: 40px 0 0 0 !important;
  }

  h2 {
    font-size: 25px;
  }

  .banner-btn {
    bottom: 45% !important;
  }
}

@media screen and (max-width: 320px) {

  #home,
  #aboutUs,
  #equipment,
  #contact {
    padding: 150px 0 0 0 !important;
  }

  #product {
    padding: 50px 0 0 0 !important;
  }

  .nav-brand img {
    width: 100px;
  }

  @keyframes slideDown {
    0% {
      top: 0;
      opacity: 0;
      transform: translateY(-100%);
    }

    100% {
      top: 30%;
      opacity: 1;
      transform: translateY(-30%);
    }
  }

  @keyframes slideUp {
    0% {
      top: 100%;
      opacity: 0;
      transform: translateY(100%);
    }

    100% {
      bottom: 0%;
      opacity: 1;
      transform: translateY(95%);
    }
  }




  .aboutUs img {
    height: 150px;
  }
}


@media screen and (max-width: 280px) {
  .banner-btn {
    bottom: 35% !important;
  }
}

/* responsive end here========================================= */