:root {
  --primary-color: #2596be; /* Red */
}

/* univesal here============================================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* wrappper here============================================== */
.wrapper {
  width: 90%;
  max-width: 1365px;
  margin: 0 auto;
}

/* header start here=========================================== */
header {
  padding: 10px 0;
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar-brand img{
  width: 100px;
}

.navbar-collapse {
  width: 70%;
}

.navbar,
.navbar-icon {
  align-items: center;
}

.navbar,
.navbar-icon {
  display: flex;
  justify-content: space-between;
}

.nav-item {
  list-style: none;
}

.nav-item a {
  color: var(--primary-color);
  text-decoration: none;
  padding: 10px;
}

.nav-item a:hover,
.nav-item a.active{
  border-bottom: 1px solid #000;
}

.mobile-navbar-btn {
  display: none;
  background-color: transparent;
  cursor: pointer;
}

.mobile-nav-icon {
  font-size: 30px;
}

.mobile-nav-icon[name="close-outline"] {
  display: none;
}

/* header end here============================================= */

/* banner section start here=========================================== */
.banner{
  position: relative;
  background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),  url("../assets/images/product_background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  animation: animate 25s ease-in infinite;
}

@keyframes animate {

  0%,
  100% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../assets/images/homepage_3.png");

  }

  25% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../assets/images/factory_work.jpg");
  }

  50% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../assets/images/flooring_soln.jpg");
  }

  75% {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../assets/images/pharma.jpg");
  }
}

.banner-text{
  position: absolute;
  top: 30%;
  width: 50%;
  line-height: 1.6;
}
.banner-text p{
  padding-bottom: 20px;
}
.banner-text a{
  padding: 10px;
  border: 1px solid #fff;
  text-decoration: none;
  font-size: 12px;
}
.banner-text,
.banner-text a{
  color: #fff;
}
/* banner section end here=========================================== */


/* responsive start here======================================= */
@media screen and (max-width: 1115px) {
  .navbar-collapse {
    width: 70%;
  }
  .nav-item a {
    font-size: 12px;
    }
}
/* @media screen and (max-width: 1024px) {
  .navbar-collapse {
    width: 80%;
  }
} */

/* @media screen and (max-width: 995px){

} */

@media screen and (max-width: 885px){
  .navbar-collapse {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  header {
    position: relative;
  }

  .navbar-collapse {
  
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: #fff;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .navbar-icon {
    flex-direction: column;
  }

  .active .navbar-collapse {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .nav-item {
    padding: 15px 0;
  }

  .mobile-navbar-btn {
    display: block;
  }

  .active .mobile-navbar-btn .mobile-nav-icon[name="close-outline"]{
    display: block;
  }
  .active .mobile-navbar-btn .mobile-nav-icon[name="menu-outline"]{
    display: none;
  }
}



@media screen and (max-width: 667px){

}
@media screen and (max-width: 580px){

}
@media screen and (max-width: 480px){
.banner-text{
  width: 90%;
}
}
@media screen and (max-width: 320px){
  .banner-text{
    top: 20%;
  }
.banner-text .btn{
  display: inline-grid;
}
.banner-text a{
  margin-bottom: 10px;

}
/* responsive end here========================================= */