
.popup-link{
  display:flex;
  flex-wrap:wrap;
}

.popup-link a{
    background: #333;
    color: #fff;
  
    border-radius: 5px;
    font-size:17px;
    cursor:pointer;
    margin:20px;
    text-decoration:none;


}

.popup-container {
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    transform: scale(1.3);
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(21, 17, 17, 0.61);
    display: flex;
    align-items: center;
}
.popup-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    height:100%;
    overflow:scroll;

}
.popup-content p{
    font-size: 14px;
    padding: 10px;
    line-height: 20px;
}
.test a.close{
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    background: none;
    padding: 0;
    margin: 20px;
    text-decoration:none;

      position:absolute;
      top: 70px;
      right: 0;

}
.close{
  color: #333;
}

.popup-content a.close:hover{
  color:#333;
}

.popup-content span:hover,
.popup-content span:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.popup-container:target{
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}


.popup-style-2{
  transform: scale(0.3);
  
}

.popup-style-2:target{
  transform: scale(1);
} 

.prod-content{
  padding: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  margin: 10px;
  
}



 @media screen and (min-width: 65em){
  .popup-content {
display: flex;
background-color: #fefefe;
margin: auto;
padding: 20px;
border: 1px solid #888;
width: 90%;
height: 65%;

}
.test{
  display: flex;
}
.prod-content{
  background-color: #f1f1f1;
  flex:2;
  margin: 10px;
  font-size: 16px;
  overflow: scroll;
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: justify;
}
.prod-content ul{
  font-size: 14px;
}
#prod-image {
 
  margin: 10px;
  font-size: 30px;
	flex:3;
}
 }
 .item-product:hover{
    webkit-filter: blur(2px); /* Chrome, Safari, Opera */
    filter: blur(2px);
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../assets/img/product_background.png'); */
 }